<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>List Dishes</title>
</head>
<body>
<a href="/dishes/dish-form">Add new dish</a>

<table>
    <tr>
        <th>Dish ID</th>
        <th>Name</th>
        <th>Cuisine</th>
        <th>Time</th>
        <th>Chef</th>
        <th>Actions</th>
    </tr>

    <div th:if="${error}" style="color:red" th:text="${error}"></div>

    <tr th:each="dish : ${dishes}">
        <td th:text="${dish.dishId}"></td>
        <td th:text="${dish.name}"></td>
        <td th:text="${dish.cuisine}"></td>
        <td th:text="${dish.preparationTime}"></td>
        <td th:text="${dish.chef?.firstName + ' ' + dish.chef?.lastName}"></td>
        <td>
            <a th:href="@{'/dishes/dish-form/' + ${dish.id}}">Edit</a>
            <a th:href="@{'/dishes/delete/' + ${dish.id}}">Delete</a>
        </td>
    </tr>
</table>

</body>
</html>